# Set working directory
setwd("C:/Users/Emma Tergunwa/Desktop/EMADA")
getwd()

# Load necessary libraries
library(readr)
library(ggplot2)

# Load the data
hibbs <- read_csv("C:/Users/Emma Tergunwa/Desktop/ESTHER/hibbs.csv")
head(hibbs) # view the first few lines
nrow(hibbs) # Number of rows
ncol(hibbs) # Number of columns
dim(hibbs) # Rows and columns together
str(hibbs) # check data structure
summary(hibbs) # summary statistics

# (a) Regression of Unemployment on Government Ideology
model_unemp <- lm(unemployment ~ percleft, data = hibbs)
summary(model_unemp)

# plot Unemployment vs Government Ideology
plot(hibbs$percleft, hibbs$unemployment,
     main = "Unemployment vs. Government Ideology",
     xlab = "% of Years Left in Power (1945–1969)",
     ylab = "Average Unemployment Rate",
     pch = 19, col = "red")
abline(model_unemp, col = "green", lwd = 2)

# (b) Regression of Inflation on Government Ideology
model_infl <- lm(inflation ~ percleft, data = hibbs)
summary(model_infl)

# plot Inflation vs Government Ideology
plot(hibbs$percleft, hibbs$inflation,
      main = "Inflation vs. Government Ideology",
      xlab = "% of Years Left in Power (1945–1969)",
      ylab = "Average Inflation Rate",
      pch = 19, col = "red")
abline(model_infl, col = "green", lwd = 2)
tinytex::install_tinytex()
